// ---- ---- color ---- ---- //
$color_white: #ffffff;
$color_t_main: #35312e;
$color_t_dark: #4f463f;
$color_t_grey: #6e6259;
$color_t_info: #6e635a;
$color_t_accent: #670a18;
$color_t_footer: rgba(245, 241, 233, 0.6);
$color_t_light: #fcfaf6;
$color_t_footer-copy: rgba(252, 250, 246, 0.5);
$color_bg_light: #f0eedd;
$color_bg: #f5f1e9;
$color_bg_dark: #6c674d;
$color_bg_accent: #807c62;
$color_bg_button: #d37657;
$color_bg_slider: #fbf6ea;
// ---- ---- main ---- ---- //
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $color_t_main;
}
.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
// ---- ---- Title ---- ---- //
.title {
  &__h1 {
  }
  &__h3 {
  }
  &__h4 {
  }
}
// ---- ---- menu ---- ---- //
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 48px;
}

.menu {
  &__list {
  }
  &__item {
  }
  &__link {
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  &__item {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo-link {
    display: block;
    margin-right: 30px;
  }
}
// ---- ---- btn ---- ---- //
.button {
  width: 100%;
  max-width: 248px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_white;
  background-color: $color_bg_button;
  padding: 20px 30px;
  &:hover {
    text-decoration: underline;
  }
}
// ---- ---- footer ---- ---- //
.footer {
  &__logo-link {
  }
  &__wrap {
  }
  &__social {
  }
  &__social-text {
  }
  &__social-wrap {
  }
  &__social-box {
  }
  &__social-link {
  }
  &__social-img {
  }
  &__btn {
  }
  &__info-box {
  }
  &__info-wrap {
  }
  &__info-text {
  }
  &__list-link {
  }
  &__item {
  }
  &__item-link {
  }
}
