// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
// ---- ---- reset ---- ---- //
@import 'swiper-bundle.min.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'base.scss';
@import 'global.scss';
// ---- ---- hero ---- ---- //

.header {
  &__wrap {
  }
  &__logo {
  }
  &__logo-link {
  }
}
// ---- ---- hero ---- ---- //
.hero {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  &__wrap {
  }
  &__title {
  }
  &__text {
  }
  &__info-box {
  }
  &__info {
  }
  &__info-img {
  }
  &__text-time {
  }
  &__btn {
  }
}
// ---- ---- info ---- ---- //
.info {
  &__wrap {
  }
  &__title {
  }
  &__trait-box {
  }
  &__trait {
  }
  &__text {
  }
  &__swiper-box {
  }
  &__btn {
  }
}
// ---- ---- system ---- ---- //
.system {
  &__title {
  }
  &__text {
  }
  &__box {
  }
  &__img-box {
  }
}
// ---- ---- data ---- ---- //
.data {
  &__box {
  }
  &__list {
  }
  &__item {
  }
  &__text {
  }
  &__img-box {
  }
  &__info-box {
  }
  &__info-item {
  }
  &__info-title {
  }
  &__info-text {
  }
  &__certificate-box {
  }
  &__certificate-info {
  }
  &__certificate-title {
  }
  &__certificate-text {
  }
  &__btn {
  }
}
// ---- ---- vs ---- ---- //
.vs {
  &__title {
  }
  &__title--grey {
  }
  &__title--pink {
  }
  &__title--orange {
  }
  &__box {
  }
  &__minus {
  }
  &__item {
  }
  &__plus {
  }
  &__item-plus {
  }
  &__price-box {
  }
  &__price-anoter {
  }
  &__price-number {
  }
  &__price-number--another {
  }
  &__price-data {
  }
  &__price-number--data {
  }
  &__form-box {
  }
  &__form {
  }
  &__form-title {
  }
  &__form-text {
  }
  &__form-name {
  }
  &__form-tel {
  }
  &__form-btn {
  }
  &__sale-box {
  }
  &__sale-item {
  }
  &__sale-top {
  }
  &__number {
  }
  &__sale-text {
  }
  &__sale-btn {
  }
}
// ---- ---- curce ---- ---- //
.curse {
  &__title {
  }
  &__title-text {
  }
  &__wrap {
  }
  &__item {
  }
  &__item-top {
  }
  &__bottom {
  }
  &__item--finish {
  }
  &__item-title {
  }
  &__item-text {
  }
}
// ---- ---- about ---- ---- //
.about {
  &__title {
  }
  &__title-text {
  }
  &__text {
  }
  &__box {
  }
  &__item {
  }
  &__item-top {
  }
  &__name {
  }
  &__lastname {
  }
  &__item-bottom {
  }
  &__item-text {
  }
}
// ---- ---- swiper ---- ---- //
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  opacity: 1;
}
.swiper-pagination-bullet:nth-child(1) {
  background-color: #e09d81;
}
.swiper-pagination-bullet:nth-child(2) {
  background-color: #748ea1;
}
.swiper-pagination-bullet:nth-child(3) {
  background-color: #b76d47;
}
.swiper-pagination-bullet:nth-child(4) {
  background-color: #7d836e;
}
.swiper-pagination-bullet:nth-child(5) {
  background-color: #c33636;
}
.swiper-pagination-bullet:nth-child(6) {
  background-color: #cdc7b3;
}
.swiper-pagination-bullet:nth-child(7) {
  background-color: #595752;
}
.swiper-pagination-bullet:nth-child(8) {
  background-color: #d3c2ca;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 4px solid #e09d81;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}
.swiper-horizontal > .swiper-pagination-bullets {
  top: 0px;
  bottom: auto;
  z-index: 20;
}
// ---- ---- form ---- ---- //
.form {
  &__box {
  }
  &__form {
  }
  &__title {
  }
  &__wrap {
  }
  &__social {
  }
  &__link {
  }
}
// ---- ---- review ---- ---- //
.review {
  &__title {
  }
  &__item {
  }
  &__img-box {
  }
  &__text {
  }
  &__name {
  }
}
// ---- ---- contact ---- ---- //
.contact {
  &__map {
  }
  &__info {
  }
  &__title {
  }
  &__list {
  }
  &__item {
  }
  &__link {
  }
}
// ---- ---- media ---- ---- //
@import 'media.scss';
